<h1>Password Form</h1>

<form action="{% url 'generate_password' %}" method="get">
    <select name="password_length">
        <option value="" selected disabled>Select length</option>
        <option value="8">8 characters</option>
        <option value="9">9 characters</option>
        <option value="10">10 characters</option>
        <option value="11">11 characters</option>
        <option value="12">12 characters</option>
    </select>
    <label for="upper">Uppercase letters</label>
    <input type="checkbox" id="upper" name="upper">
    <label for="numbers">Numbers</label>
    <input type="checkbox" id="numbers" name="numbers">
    <label for="specials">Special characters</label>
    <input type="checkbox" id="specials" name="specials">

    <button type="submit">Generate password</button>
     <!-- <input type="submit" value="Generate password"> -->
</form>